
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>ПРЕДИСЛОВИЕ</title>
 <style>
     .px_l {
  padding: 10px;
  width: 80%;
   font-size:24px;
  background-color: white;
   border-radius: 10px;
  margin-left: 5%;
  border: 3px solid green;
  font-family: "Goudy Bookletter 1911", sans-serif;
}


 </style>
 </head>
 <body>

 <div class="px_l">
 <p>

&nbsp; &nbsp; &nbsp;Данный сайт представляет собой сборник задач, которые предлагались на ЕГЭ по математике (как для базового уровня так и для профильного).
     Задачи разбиты на рубрики и снабжены  решениями.  Если ответ задачи представляет собой одно число (целое или десятичную дробь) можно сначала
     проверить этот ответ (нажав на кнопку ПРОВЕРИТЬ СВОЙ ОТВЕТ). При этом возникаеи дополнительное окно, в которое необходимо проставить
     своё значение ответа и если он окажется неправильным-проверить решенине.
     Можно также нажать на кнопку ПОКАЗАТЬ ОТВЕТ и сверить свой ответ с правильным ответом. Этой кнопкой можно воспользоваться  и в том случае,
     когда  ответ  не является целым числом или десятичной дробью. Наконец можно кликнуть по кнопке РЕШЕНИЕ и ознакомиться с
     подробным решением данной задачи. Если решение задачи непонятно или долго не удаётся решить задачу самому, полезно ознакомится с разделом
     ЧТО НАДО ЗНАТЬ.
     Все задачи, представленные в сборнике, реально давались на ЕГЭ. Где и когда они давались-можно узнать из пояснения
     сверху условия задачи.
     Задач по базовому уровню значительно меньше чем задач по профильному, что в частности связано с тем  что базовый уровень введён
     только в 2015 году. Если пользователю будет необходимо больше задач по базовому уровнь то можно воспользоваться первыми разделами задач по профильному
     уровню-в большей своей части они не сложные и соответствуют по сложности задачам базового уровня.
     <p>
     Конечно, в основном,задачи предлагаемые на ЕГЭ предназначены прежде всего для школьников 11 класса. Но многие из них
     не требуют знаний именно  11 класса и могут решаться учениками более младших классов. Если задачи даноого сборника
     заинтересуют учеников 6-10 классов то можно выбрать из всего множества задач задачи именно для этих классов. Для этого
     необходимо нажать на номер нужного класса в рубрике КЛАСС вверху страницы. Приэтом будут отбраны задачи именно для
     выбранного класса.
</div>

</body>
</html>
