
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>ПРЕДИСЛОВИЕ</title>
 <style>
     .px_l {
  padding: 10px;
  width: 80%;
   font-size:24px;
  background-color: white;
   border-radius: 10px;
  margin-left: 5%;
  border: 3px solid green;
  font-family: "Goudy Bookletter 1911", sans-serif;
}


 </style>
 </head>
 <body>
 <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(84813241, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/84813241" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

 <div class="px_l">
 <p>

&nbsp; &nbsp; &nbsp;Данный сайт представляет собой сборник задач, которые предлагались на ЕГЭ. Задачи разбиты на рубрики и снабжены
     решениями.  Если ответ задачи представляет собой одно число (целое или десятичную дробь) можно сначала проверить
     этот ответ (нажав на кнопку ПРОВЕРИТЬ СВОЙ ОТВЕТ). При этом возникаеи дополнительное окно, в которое необходимо проставить
     свой ответ и если он окажется неправильным-проверить решенине.
     Можно также нажать на кнопку ПОКАЗАТЬ ОТВЕТ и сверить свой ответ с правильным ответом. Этой кнопкой можно
     воспользоваться, если  ответ
     не является целым числом или десятичной дробью. Наконец можно кликнуть по кнопке РЕШЕНИЕ и ознакомиться с
     подробным решением данной задачи.
     Все задачи, представленные в сборнике, реально давались на ЕГЭ. Где и когда они давались-можно узнать из пояснения
     сверху условия задачи.
     <p>
     Конечно, в основном,задачи предлагаемые на ЕГЭ предназначены прежде всего для школьников 11 класса. Но многие из них
     не требуют знаний именно  11 класса и могут решаться учениками более младших классов. Если задачи даноого сборника
     заинтересуют учеников 6-10 классов то можно выбрать из всего множества задач задачи именно для этих классов. Для этого
     необходимо нажать на номер нужного класса в рубрике КЛАСС в верху страници. Приэтом будут отбраны задачи именно для
     выбранного класса.

     <br />
	&nbsp;
 </p>

</div>








</body>
</html>
